.button {
  background-color: white;
  color: #F02A2A;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-weight: bold;
  width: 200px;
  height: 60px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 15px;
}

.button:hover {
  background-color: #eee;
  transition: all 0.3s;
}