header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header img.logo {
  width: 206px;
  height: 83px;
  margin: 15px;
  cursor: pointer;
}

header > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

